# Laravel
/.env
/.env.backup
/.env.production
/.env.staging
/.env.*.local
/.env.local

*.log
*.sqlite
*.sqlite3

# Laravel
/vendor/
composer.lock
/public/build/
/public/hot
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/*
// storage/logs/*
/bootstrap/cache/*
/bootstrap/compiled.php

# Node
/node_modules/
/public/build
/npm-debug.log
/yarn-error.log
.yarn-integrity
.pnp.*
.next
.vercel

# Editor
/.idea
/.vscode
/.fleet
/.phpunit.cache
/.phpunit.result.cache
/.phpactor.json
/.zed
/.DS_Store
Thumbs.db
.auth.json

# Aider
.aider*
.aider.tags.cache.v4/

# Homestead
Homestead.json
Homestead.yaml
/.vagrant

# Tests artifacts
/tests/e2e/screenshots/*
/tests/e2e/report/*
/tests/e2e/report/data/*
/storage/app/scraper-urls.json
/storage/app/scraper-results.json

# E2E Playwright
playwright-report/

# OS
.DS_Store
Thumbs.db

# Misc
.env
.env.backup
.env.production

